<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.IrisREC">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Final_Project"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnAPI"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".UI_Control.Check_iris_recognition_Control"
            android:exported="true" />
        <activity
            android:name=".UI_Control.Add_user_Control"
            android:theme="@style/Theme.LearnAPI.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".UI_Control.Main_form_control"
            android:exported="true"
            android:label="@string/title_activity_main_form_control"
            android:theme="@style/Theme.LearnAPI.NoActionBar" />
        <activity
            android:name=".UI_Control.Login_Controll"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>